@charset "utf-8";
.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.bg-img{
    position: relative;
    width: 100%;
    height: 365px;
    color: #000;
    background-image: url(../images/about/bg.jpg);
    background-size: cover;
    background-position: center center;
}
.about-wrap{
    position: relative;
    width: 80%;
    margin-top: 5rem;
    margin: 5rem 0 4rem 0;
}
.about{
    width: 70%;
    margin: 0 auto;
    /* min-width: 200px; */
    background-color: rgb(182, 182, 182);
}
.content-container h2{
    margin: 0;
    padding: .5rem 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.about p{
    text-indent: 2em;
    padding: 1rem;
    color: #fff;
    margin: 0;
    columns: 2 20em;
}

.contact-wrap{
    width: 80%;
    margin-bottom: 4rem;
}
.contact{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
}
.contact p{
    padding-left: 1rem;
}
.a-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.a-wrap img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: .5rem;
    background-color: #fff;
    transition: all 200ms ease-in-out;
}
.a-wrap img:hover{
    filter: invert(100%);
    transform: translate(0,5px);
    box-shadow: 2px 2px 5px #777777;
}
.broad-wrap{
    width: 80%;
}
.broad{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    margin-bottom: 4rem;
}
.broad>p{
    padding-left: 1rem;
}
.broad-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: .5em 1em;
}
.col-right>*{
    padding: .5rem 0;
}
.col-right>span{
    color: rgb(77, 77, 77);
    font-size: .9rem;
}
.col-left{
    width: 20%;
    text-align: center;
}
.col-right{
    width: 80%;
}
.col>input{
    width: 100%;
}
.broad-main p{
    margin: 0;
}
.broad-main .right{
    width: 80%;
    background-color: rgb(235, 235, 235);
    border: 1px solid #000;
    padding: 0.3rem;
}
.broad-main textarea{
    resize: none;
}
.broad-main>div:last-child{
    padding: 0 0 1rem;
}

a[id=submit]{
    width: 50%;
    padding: 1rem 0;
    color: rgb(160, 160, 160);
    background-color: rgb(40, 40, 40);
    border: 2px solid #777;
    transition: all 100ms ease-in-out;
    margin: 1rem auto;
    text-align: center;
    cursor: pointer;
}
a[id=submit] span{
    font-size: 1.2rem;
}
a[id=submit]:hover{
    box-shadow: 
        1px 1px 3px rgb(160, 160, 160),
        -1px -1px 3px rgb(160, 160, 160);
}
a[id=submit]:hover span{
    border-bottom: 2px solid rgb(160, 160, 160);
}
.error-title{
    color: red !important;
}


.broad-container{
    width: 80%;
}
.text-wrap{
    width: 70%;
    margin: 0 auto;
}
.text{
    margin-bottom: 1rem;
    background-color: rgb(235, 235, 235);
    display: none;
}
.text2{
    margin-bottom: 1rem;
    background-color: rgb(235, 235, 235);
}
.text h4{
    padding: 1rem 1rem .7rem;
    margin: 0;
    border-bottom: 2px solid #000;
}
.text span{
    padding-left: 1rem;
    font-weight: lighter;
    font-style: italic;
}
.text p{
    margin: 0;
    padding: .5rem 1rem 1rem;
    word-wrap: break-word;
}
