@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
.out{
  height: 454px;
  margin: 0 auto 30px;
  position: relative;
}
.img{
  width: 100%;
}
.img span{
  position: absolute;
  font-size: 3rem;
  top: 4rem;
  left: 6rem;
}
.out .img li{
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
}
.num{
  position: absolute;
  left:0;
  bottom: -100px;
  text-align: center;
  font-size: 0;
  width: 100%;
}
.out img {
  width: 100%;
  height: 600px;
}

.out .btn{
  position: absolute;
  top:50%;
  margin-top: -30px;
  width: 30px;
  height: 60px;
  background-color: aliceblue;
  color: black;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
  display: none;
}
.num li{
  width: 30px;
  height: 30px;
  background-color: black;
  color: rgb(189, 189, 189);
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
}
.out .num li.active{
  background-color: #fff;
}
.out .left{
  left: 0;
}
.out .right{
  right: 0;
}
.out:hover .btn{
  display: block;
  color: white;
  font-weight: 900;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;    /* 页面显示一个手势样*/
}


h1{
font-size: 25px;
background-color: #000;
color: #fff;
}

#banner{
position:absolute;
height:400px;
margin:0 auto;

}
#lun{
padding-bottom: 100px;
}
#header{
margin: 40px auto;
width: 80%;
float: center; 


}
#content{
float:center;
margin: 40px auto;
width: 80%;
}
#sidebar{
float:center;
margin: 40px auto;
width: 80%;
height: 50%;
}
@media screen and (max-width:980px){
#header{
width: 94%;
}
#content{
width:94%;
}
#sidebar{
width:94%;
height: 50%;
}  
}
@media screen and (max-width: 700px){
#content{
width:auto;
float:none;
}
}
@media screen and (max-width: 700px){
#header{
height:auto;
margin: auto;
float: none;
}
}
#header{
background:#000;
}  
#content{
background:#000;
}
#sidebar{
background:#000;
}
#header, #content, #sidebar{
border:solid 40px #000;
}
.photo img{
 padding-left:20px;
 float: center;
}